/* 기본 설정 */
body {
  margin: 0;
  background: #1f2329;
  color: white;
  font-family: sans-serif;
}

/* 헤더 영역 */
header {
  width: calc(100% - 80px);
  height: 40px;
  padding: 12px 40px;
  background: #23272d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}

/* 로고 */
header .header_logo {
  width: 43.6px;
  height: 14.6px;
  cursor: pointer;
}
header .header_logo img {
  width: 100%;
}

/* 검색 박스 */
header .search_box {
  position: relative;
  width: 715px;
  height: 40px;
}
header .search_box input {
  width: 100%;
  height: 100%;
  border: none;
  background: #272b31;
  padding-left: 43px;
  border-radius: 8px;
  outline: none;
  color: #fff;
}

header .search_box::before {
  content: "";
  position: absolute;
  background-image: url(../img/search_icon.png);
  background-size: cover;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 13px;
}

/* 로그인 버튼 */
header .header_logbtn {
  background: #ff5d343a;
  border-radius: 8px;
}
header .header_logbtn button {
  background: none;
  border: none;
  color: #ff5d34;
  padding: 8px 12px;
  cursor: pointer;
}

/* 메인 영역 */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .main_logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
main .main_logo img {
  width: 140px;
  height: 47px;
}

/* 로그인 영역 */
main .login_wrap {
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .login_wrap .error-msg {
  color: #ff5d34;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* 로그인 폼 */
.loginform .id,
.loginform .password {
  margin-bottom: 16px;
  position: relative;
}
.loginform input {
  width: 326px;
  height: 54px;
  border: none;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
  font-size: 16px;
  background: #272b31;
  color: white;
}
.loginform input:focus {
  outline: 1px solid white;
}
.loginform input.input-error {
  outline: 1px solid #ff5d34;
}
/* 로그인 버튼 */
.main_login_btn {
  width: 100%;
  height: 56px;
  background-color: #ff5d34;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

main .loginform .password .eye_toggle_but {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../img/pw_view_no.png);
  background-size: cover;
  cursor: pointer;
}
main .loginform .password .eye_toggle_but.viewing {
  background-image: url(../img/pw_view.png);
}
.sub_fuc {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.sub_fuc a {
  font-size: 14px;
  color: #81878d;
  text-decoration: none;
}
.sub_fuc a:hover {
  text-decoration: underline;
}
.sub_fuc div {
  font-size: 10px;
  color: #81878d;
  text-decoration: none;
  padding-top: 3px;
}
/* 소셜 아이콘 */
.social_icons {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social_icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.social_icon img {
  width: 100%;
  height: 100%;
}
